.hero-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 20px 0;
}

.hero-section {
    background-image:
        linear-gradient(90deg, rgba(62, 54, 38, 0.74) 0%, rgba(62, 54, 38, 0) 100%),
        -webkit-image-set(url('../img/hero-section/hero-mob-1x-min.jpg') 1x,
            url('../img/hero-section/hero-mob-2x-min.jpg') 2x);
    width: 100%;
    min-height: 544px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.hero-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 24px;
    max-width: 335px;
}

.hero-deskr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 32px;
    max-width: 335px;
}

.hero-link {
    border: 1px solid #88765c;
    border-radius: 8px;
    background: #88765c;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    min-width: 171px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.hero-link:hover,
.hero-link:focus {
    background: #eee9e3;
    color: #02060a;
}

.hero-link:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #eee9e3;
}

@media screen and (min-width: 768px) {
    .hero-container {
        padding: 64px 32px 0;
    }

    .hero-section {
        background-image:
            linear-gradient(90deg, rgba(62, 54, 38, 0.74) 0%, rgba(62, 54, 38, 0) 100%),
            -webkit-image-set(url('../img/hero-section/hero-tab-1x-min.jpg') 1x,
                url('../img/hero-section/hero-tad-2x-min.jpg') 2x);
        padding: 0;
    }

    .hero-title {
        max-width: 622px;
    }

    .hero-deskr {
        max-width: 512px;
    }
}

@media screen and (min-width: 1440px) {

    .hero-container {
        padding: 128px 64px 0;
    }

    .hero-section {
        background-image:
            linear-gradient(90deg, rgba(62, 54, 38, 0.74) 0%, rgba(62, 54, 38, 0) 100%),
            -webkit-image-set(url('../img/hero-section/hero-desk-1x-min.jpg') 1x,
                url('../img/hero-section/hero-desk-2x-min.jpg') 2x);
        min-height: 900px;
        padding: 0;
    }

    .hero-title {
        font-size: 56px;
    }

    .hero-deskr {
        font-size: 18px;
    }

    .hero-link {
        width: 189px;
        height: 48px;
        font-size: 16px;
    }
}